# Xcode build artifacts and user data
DerivedData/
build/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.ipa
*.dSYM.zip


# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
